<head>
    <title><%=title %></title><!-- le decimos que le va a llegar el valor de una etuique variable -->
    <link rel="stylesheet" href="/css/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>